<table cellspacing="0" width="100%" cellpadding="5" border='0' class="tableList">
    <if condition="!empty($userList)">
        <thead>
        <tr>
            <th width="70"><input type="checkbox" id="check_all"><label for="check_all">全选</label></th>
            <th>用户名</th>
            <th>手机</th>
            <th>身份</th>
            <th>地区</th>
            <th>
                <a href="javascript:void(0);" onclick="javascript:$.mbizTableSort('add_time','sortCallBack')"
                   title="升序">
                    注册日期
                    <img src="{$images_dir}/desc.gif" class='add_time' style="cursor: pointer; border: 0;" title="排序">
                </a>
            </th>
            <th>管理</th>
        </thead>
        <else/>
        <span style="display:block;margin:0 auto;width:500px;">{$empty}</span>
    </if>
    <tbody>
    <volist name="userList" id="content">
        <tr>
            <td>
                <input type="checkbox" value="{$content.userid}" name="content_checkbox"/>
            </td>
            <td>
                <span class="content_list" id="{$content.userid}" title="hello tooltip {$content.userid}">{$content.realname}</span>
            </td>
            <td>
                <span class="content_list" id="{$content.userid}" title="hello tooltip {$content.userid}">{$content.mobile}</span>
            </td>
            <td>个人</td>
            <td>{$content.town}</td>
            <td>{$content.regtime|date="y-m-d",###}</td>
            <td>
                <div class="formGroup">
                    <a href="{:U('detail?id='.$content["userid"])}"
                       class="button button-rounded button-tiny button-flat-caution">详情</a>
                    <a href="javascript:deleteContent('{$content.userid}');"
                       class="button button-rounded button-tiny button-flat-caution"> 删除</a>
                </div>

            </td>
        </tr>
    </volist>

    </tbody>
</table>