<!-- 页脚 -->
<div id="footer">
    <img src="{$css_dir}/admin/images/module/content_a.png" class="preload">
    <img src="{$css_dir}/admin/images/module/user_a.png" class="preload">
    <img src="{$css_dir}/admin/images/module/order_a.png" class="preload"><img src="{$css_dir}/admin/images/module/product_a.png" class="preload">
    <img src="{$css_dir}/admin/images/module/setting_a.png" class="preload">
    <img src="{$css_dir}/admin/images/module/report_a.png" class="preload">
</div><!--/footer-->