/* CSS Document */



/*************************
列表样式
*************************/

#pageCoupon .list {
    text-align: center;
}
#pageCoupon .list li {
	overflow: hidden;
	border: 1px solid #ddd;
	padding: 2%;
    width: 43.5%;
    float: left;
    background: #fff;
    margin: 1%;
}

#pageCoupon .list li .date {
    font-size: 12px;
    color: #aaa;
}

#pageCoupon .list li * {
	text-align: left;
}

#pageCoupon .list li h3 {
	color: #C00;
	font-size: 16px;
}