<div class="footer">
    <div class="gezifooter">
        <p style="color:#bbb;">装修滴滴 &copy; 版权所有 2015</p>
    </div>
</div>
<div id="nav">
    <ul>
        <a href="{:U('Home/Home/index')}"><li class="nav-01">
            首页
            <span></span></li></a>
        <a href="{:U('Home/Order/orderInfo')}"><li class="nav-02">
            订单
            <span></span></li></a>
        <a href="{:U('Home/User/collection')}"><li class="nav-04">
            收藏
            <span></span></li></a>
        <a href="{:U('Home/User/index')}"><li class="nav-03">
            个人
            </li></a>
    </ul>
</div>