<div class="footer">
    <div class="gezifooter">
        <p style="color:#bbb;">滴滴装修 &copy; 版权所有 2015</p>
    </div>
</div>
<div id="nav">
    <ul>
        <a href="{:U('Home/Home/index_gz')}"><li class="nav-01">
            首页
            <span></span></li></a>
        <a href="{:U('Home/Order/orderInfo_gz')}"><li class="nav-02">
            订单 <span></span></li></a>
        <a href="{:U('Home/Evaluate/index')}"><li class="nav-04">
            留言
            <span></span></li></a>
        <a href="{:U('Home/Foreman/index')}"><li class="nav-03">
            个人
         </li></a>
    </ul>
</div>