<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>滴滴装修</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <link href="{$css_dir}/bootstrap.min.css" rel="stylesheet" />
    <link href="{$css_dir}/NewGlobal.css" rel="stylesheet" />
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?86bfaea4ac004bd92ee341c781c4c83c";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>


</head>
<body>
<div class="header">
    <div class="title" id="titleString">滴滴装修</div>
</div>
<div class="container width80 pt20">
        <div class="control-group" align="center" >
            <a href="{:U('Home/Login/index')}"><img src="{$img_dir}/user.png"></a>
        </div>
        <div class="control-group" align="center">
            <a href="{:U('Home/Login/index_gz')}"><img src="{$img_dir}/worker.png"></a>
        </div>
        <div class="control-group" align="center">
            <a href="{:U('Home/Home/index')}" style="font-size:20px">游客浏览</a>
        </div>
</div>


<div class="footer">
    <div class="gezifooter">
        <p style="color:#bbb;">滴滴装修 &copy; 版权所有 2015</p>
    </div>
</div>

</body>
</html>
