<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>滴滴装修</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <link href="{$css_dir}/bootstrap.min.css" rel="stylesheet" />
    <link href="{$css_dir}/NewGlobal.css" rel="stylesheet" />
    <script type="text/javascript" src="{$js_dir}/1.9.0.js"></script>
    <script type="text/javascript" src="{$js_dir}/jquery.validate.min.js"></script>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?86bfaea4ac004bd92ee341c781c4c83c";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>

</head>
<body>
<div class="header">
    <a href="__APP__/Home/Home/index" class="home">
        <span class="header-icon header-icon-home"></span>
        <span class="header-name">主页</span>
    </a>
    <div class="title" id="titleString">帮助咨询</div>
    <a href="javascript:history.go(-1);" class="back">
        <span class="header-icon header-icon-return"></span>
        <span class="header-name">返回</span>
    </a>
</div>


<div class="container width90">
    <div class="vip">
            </div>
        </div>
        </div>
        <div class="center-top5">
            <h4><font color="#626262" face="Microsoft YaHei">&nbsp&nbsp亲，您是遇到下面这些问题了吗？</font></h4>
            <a href="{:U('Message/Answer1')}">如何注销"滴滴装修"使用账户？<em>></em></a>
            <a href="{:U('Message/Answer2')}">施工遇到问题，联系不上工人怎么办？<em>></em></a>
            <a href="{:U('Message/Answer3')}">款项全清后出现装修质量问题，怎么办？<em>></em></a>
            <a href="{:U('Message/Answer4')}">使用"滴滴装修"时遇到了问题，怎么办？<em>></em></a>
        </div>
    </div>
</div>
<h4><font color="#626262" face="Microsoft YaHei">&nbsp&nbsp如还有问题，请留言与我们联系↓↓↓</font></h4>
<div class="container width80 pt20">
        <form action="{:U('Message/Message')}" method="post" id="user_message" name="form">
<div class="control-group">
        <table>
            <tr>
                &nbsp&nbsp类别：<select name="cat_name" style="background: none repeat scroll 0 0 #F9F9F9;width:220px">
                <option value="投诉">投诉施工方</option>
                <option value="建议">对我们的建议</option>
                <option value="咨询">咨询我们</option>
                <option value="其他">其他问题</option>
            </select>
            </tr>
            </div>
            <div class="control-group">
            <tr>
                <td>&nbsp&nbsp内容：</td><td><textarea type="text" name="message" style="background: none repeat scroll 0 0 #F9F9F9;width:210px;height:120px"></textarea></td>
            </tr>
        </div>
        </table>
        <br>
        <div class="control-group">
            <button type="submit" class="btn-large green button width100"  id="regBtn">提交</button>
        </div>
    </div>
    </body>
    </html>
    </form>
</div>
<div class="footer">
     <div class="gezifooter">
         <p style="color:#bbb;">滴滴装修 &copy; 版权所有 2015</p>
     </div>
 </div>
</body>
<script type="text/javascript">
     function checkForm() {
        var cat_name = $("#cat_name").val();
        var message = $('#message').val();
        $.ajax({
            type: "POST",
            url: "{:U('Home/Message/Message')}",
            data: {'cat_name':cat_name,'message':message},
            dataType : "JSON",
            success: function(me){
                if(me.status==1){
                    alert(me.info);
                    window.location.href="__APP__/Home/User/index";
                }else{
                    alert(me.info);
                    window.location.href="__APP__/Home/Message/index";
                }
            }
        });
    }
 $(document).ready(function(){
    $("#regBtn").click(function(){
        $('#user_message').validate({
             debug: false, //调试模式取消submit的默认提交功能
                focusInvalid: false, //当为false时，验证无效时，没有焦点响应
                onkeyup: false,
                submitHandler: function(form){   //表单提交句柄,为一回调函数，带一个参数：form
                  checkForm();
            },
             rules: {
                message: {
                    required: true,
                },
                cat_name: {
                    required:true,
                },
            },
            messages: {
                message:'请输入您的意见或建议',
                cat_name:'请选择留言类型',
            },
        });
     });
});
        </script>
</html>
