<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>使用规则</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" />
<meta content="yes" name="apple-mobile-web-app-capable" />
<link href="{$css_dir}/bootstrap.min.css" rel="stylesheet" />
<link href="{$css_dir}/NewGlobal.css" rel="stylesheet" />
<script type="text/javascript" src="{$js_dir}/zepto.js"></script>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?86bfaea4ac004bd92ee341c781c4c83c";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>

</head>
<body>
    <div class="container width90">
            <div>
               <h3 class="active-title">领取说明</h3>
               <p class="active-content">1、红包大礼为装修服务和建材购买组合包，一次性领取至您的个人中心，以券码形式显示。<br />
        2、每个用户仅限领取一次。<br />
        3、领取期间：10月1日至10月30日 </p>
           </div>
           <div>
            <h3 class="active-title">红包明细: </h3>
                <p>多张组合优惠券</p>
           </div>
         <div>
           <h3 class="active-title">使用细则：</h3>
           <p class="active-content">1.红包大礼中的各种优惠券，仅适用于滴滴装修当地建材家具团购会活动及装修折扣活动。
           </p>
    <p class="active-content">2.折扣券仅限装修款总额达到相应额度时方可使用此券，不可兑换现金，不设找零，为签合同时直接抵扣使用。
折扣券需在装修公司免费量房时出示，告知装修公司参与本次大促活动。
</p>
    <p class="active-content">3.折扣券每个工地限用一次，只限本人使用。</p>
    <p class="active-content">4.折扣券仅适用于大连地区活动商家。 </p>
     <p class="active-content">5.（大连）每张订单只能使用一张折扣券，劵金额直接冲抵订单首付款，一经使用不可退换、不拆分、不转赠、不提现。</p>
     <p class="active-content">6.其他活动优惠详情及节日惊喜折扣，请参考活动页面介绍。</p>
     <p class="active-content">7.参与活动的用户若存在以不正当方式（包括但不限于恶意套现、刷机作弊），滴滴装修将有权终止其参与活动，取消其领取红包和交易购买的资格。</p>
     <p class="active-content">8.此红包最终解释权归滴滴装修所有。活动咨询请拨打 400-808-3603。</p>    
       </div>
    </div>

 <div class="footer">
     <div class="gezifooter">
         <p style="color:#bbb;">滴滴装修 &copy; 版权所有 2015</p>
     </div>
 </div>
</body>
</html>
