<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>滴滴装修</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" />
<meta content="yes" name="apple-mobile-web-app-capable" /><link href="{$css_dir}/bootstrap.min.css" rel="stylesheet" />
<link href="{$css_dir}/NewGlobal.css" rel="stylesheet" />
<script type="text/javascript" src="{$js_dir}/zepto.js"></script>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?86bfaea4ac004bd92ee341c781c4c83c";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>

</head>
<body>
 <div class="header" >
 <a href="__APP__/Home/Home/index" class="home">
            <span class="header-icon header-icon-home"></span>
            <span class="header-name">主页</span>
</a>
<div class="title" id="titleString">辅料仓库</div>
<a href="javascript:history.go(-1);" class="back">
            <span class="header-icon header-icon-return"></span>
            <span class="header-name">返回</span>
        </a>
 </div>
<div id="container"></div>  
<div class="nodata"></div>    

    <script type="text/javascript">
        $(document).ready(function () {
            $('.giftlist li img').each(function () {

                var width = $(this).width(); // 图片实际宽度
                var height = $(this).height(); // 图片实际高度

                // 检查图片是否超宽
                if (width != height) {
                 
                    $(this).css("height", width); // 设定等比例缩放后的高度
                }
            });

             $.ajax({
                type: "POST",
                url: "{:U('Home/Product/ajaxGetProList')}",
                data: {'page': 0},
                dataType : "JSON",
                success: function(jsonResult){
                    var obj = eval( "(" + jsonResult + ")" );
                    if(obj.length > 0){
                    var str = "";
                    $.each(obj,function(index,array){ 
                       str+="<div class='container'><div class='mt'><h4><font face='微软雅黑'>"+array['cat_name']+"</font></h4></div>";
                       if(array['childs_cat']!= null ){
                            str+="<ul class='giftlist unstyled'>";
                            $.each(array['childs_cat'],function(index,item){
                                str+="<li><div class='imgbox'>";
                                str+="<a href='__APP__\/Product\/productList?id="+item['id']+"'>";
                                str+="<img src='__APP__\/Uploads\/"+item['img_src']+"' style='height:200px;width:200px'>";
                                str+="</a></div><div class='desc'><a href='__APP__\/Product/productList?id="+item['id']+"'>"+item['cat_name']+"</a> <br/></div></li>";
                            })
                            str+="</ul ></div>";
                       }
                    });
                    $('#container').append(str);
                    }else{
                        $(".nodata").html("<li><div style='text-align: center; margin:30px 0 30px 0'><b>没有更多信息了</b></div></li>"); 
                        return false; 
                    }       


                }
            });

            var winH = $(window).height(); //页面可视区域高度 
            var i = 1; //设置当前页数 
            $(window).scroll(function () { 
                // var pageH = $(document.body).height(); 
                // var scrollT = $(window).scrollTop(); //滚动条top 
                // var aa = (pageH-winH-scrollT)/winH; 
                var scrollTop = $(this).scrollTop();
                var scrollHeight = $(document).height();
                var windowHeight = $(this).height();
                if (scrollTop + windowHeight == scrollHeight) {
                    $.ajax({
                        type: "POST",
                        url: "{:U('Home/Product/ajaxGetProList')}",
                        data: {'page': i},
                        dataType : "JSON",
                        success: function(jsonResult){
                            var obj = eval( "(" + jsonResult + ")" );
                            if(obj.length > 0){
                            var str = "";
                            $.each(obj,function(index,array){ 
                               str+="<div class='container'><div class='mt'><h4><font face='微软雅黑'>"+array['cat_name']+"</font></h4></div>";
                               if(array['childs_cat']!= null){
                                    str+="<ul class='giftlist unstyled'>";
                                    $.each(array['childs_cat'],function(index,item){
                                        str+="<li><div class='imgbox'>";
                                        str+="<a href='__APP__\/Product\/productList?id="+item['id']+"'>";
                                        str+="<img src='__APP__\/Uploads\/"+item['img_src']+"' width='200' height='200'>";
                                        str+="</a></div><div class='desc'><a href='__APP__\/Product/productList?id="+item['id']+"'>"+item['cat_name']+"</a> <br/></div></li>";
                                    })
                                    str+="</ul ></div>";
                               }
                            });
                            $('#container').append(str);
                            i++; 
                            }else{
                                $(".nodata").html("<li><div style='text-align: center; margin:30px 0 30px 0'><b>没有更多信息了</b></div></li>"); 
                                return false; 
                            }       


                        }
                    });
                } 
            }); 
        });
    </script>
 
<div class="footer">
     <div class="gezifooter">
         <p style="color:#bbb;">滴滴装修 &copy; 版权所有 2015</p>
     </div>
 </div>
</body>
</html>


   