/*********************
File:     desktop.css
Title:    桌面样式
Version:  2013-09-12
Author:   Ray
**********************/



/*********************
框架样式
**********************/






/*********************
表单样式
**********************/

#boxSearch li {
    text-align: center;
}

#boxSearch li .inputText {
    width: 166px;
}