<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>滴滴装修</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <link href="{$css_dir}/bootstrap.min.css" rel="stylesheet" />
    <link href="{$css_dir}/NewGlobal.css" rel="stylesheet" />
    <script type="text/javascript" src="{$js_dir}/1.9.0.js"></script>
    <script type="text/javascript" src="{$js_dir}/ajaxfileupload.js"></script>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?86bfaea4ac004bd92ee341c781c4c83c";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>


</head>
<body>
<div class="header">
    <a href="{:U('Home/Home/index_gz')}" class="home">
        <span class="header-icon header-icon-home"></span>
        <span class="header-name">主页</span>
    </a>
    <div class="title" id="titleString">添加工人</div>
    <a href="javascript:history.go(-1);" class="back">
        <span class="header-icon header-icon-return"></span>
        <span class="header-name">返回</span>
    </a>
</div>


<div class="container width90">
    <div class="vip">
        <div class="center-top2">
            <span>姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名：<input type="text" name="worker_name"  value="" id="worker_name" style="background: none repeat scroll 0 0 #F9F9F9;padding: 8px 0px 8px 4px" placeholder="输入工人姓名"></span>
            <span>电&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;话：<input type="text" name="mobile" id="mobile"  placeholder="输入电话号"  style="background: none repeat scroll 0 0 #F9F9F9;padding: 8px 0px 8px 4px"  ></span>
            <span>工&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;龄：<input type="text" name="worker_age" id="worker_age" style="background: none repeat scroll 0 0 #F9F9F9;padding: 8px 0px 8px 4px" placeholder="输入工人工龄"></span>
            <div>
                工&nbsp&nbsp&nbsp&nbsp&nbsp种：
                <input type="checkbox" name="need" id="youqi" value="油漆工"><label for="youqi">油漆工</label>
                <input type="checkbox" name="need" id="shuidian" value="水电工"><label for="shuidian">水电工</label>
                <input type="checkbox" name="need" id="muzuo" value="木工"><label for="muzuo">木工</label>
                <input type="checkbox" name="need" id="nishui" value="泥瓦工"><label for="nishui">泥瓦工</label><br>
                <input type="checkbox" name="need" id="dabai" value="大白工" style="margin-left:65px"><label for="dabai" >大白工</label>
                <input type="checkbox" name="need" id="ligong" value="力工" ><label for="ligong">力工</label>
                <input type="checkbox" name="need" id="weixiu" value="维修工"><label for="weixiu">维修工</label>
                <input type="checkbox" name="need" id="sheji" value="设计师"><label for="sheji">设计师</label><br>
                <input type="checkbox" name="need" id="qita" value="其他" style="margin-left:65px"><label for="qita">其他</label>
            </div>
             <input type="hidden" value="" name="needAll" id="CheckAll" />
           <span>
            备&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp注：  <textarea  type="text"  class="input" name="msg" id="msg" style="background: none repeat scroll 0 0 #F9F9F9;" /></textarea>
             </span>
            <button type="button" class="btn-large green button width100" onclick="return checkForm();">保存</button>
        </div>
    </div>
</div>


<div class="footer">
     <div class="gezifooter">
         <p style="color:#bbb;">滴滴装修 &copy; 版权所有 2015</p>
     </div>
 </div>

</body>
</html>
<script type="text/javascript">
    $(document).ready(function(){
        $('input[type=checkbox]').change(function(){
            $('#CheckAll').val($('input[type=checkbox]:checked').map(function(){return this.value}).get().join(','))
        });
    });
    function  checkForm(){
        var worker_name = $("#worker_name").val();
        var mobile = $("#mobile").val();
        var worker_age = $("#worker_age").val();
        var CheckAll = $("#CheckAll").val();
        var msg = $('#msg').val();

        if(worker_name == '') {
            alert('请输入工人姓名！');
            return false;
        }
        if(mobile == '') {
            alert('请输入工人手机号！');
            return false;
        }
        if(worker_age == '') {
            alert('请输入工龄！');
            return false;
        }
        if(CheckAll == '') {
            alert('请输入工种！');
            return false;
        }
        
        $.ajax({
            type: "POST",
            url: "{:U('Home/Foreman/addWorkerAct')}",
            data: {'worker_name': worker_name,'mobile': mobile,'worker_age': worker_age,'worker_type': CheckAll,'worker_msg':msg},
            dataType : "JSON",
            success: function(jsonResult){
                if(jsonResult.status==1){
                    alert(jsonResult.info);
                    window.location.href="__APP__/Home/Foreman/workerManage";
                }else{
                    alert(jsonResult.info);
                    location.reload();
                }
            }
        });
    }
</script>