<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>滴滴装修</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <link href="{$css_dir}/bootstrap.min.css" rel="stylesheet" />
    <link href="{$css_dir}/NewGlobal.css" rel="stylesheet" />
   <script type="text/javascript" src="{$js_dir}/1.9.0.js"></script>
    <script type="text/javascript" src="{$js_dir}/ajaxfileupload.js"></script>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?86bfaea4ac004bd92ee341c781c4c83c";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>


</head>
<body>
<div class="header">
    <a href="{:U('Home/Home/index_gz')}" class="home">
        <span class="header-icon header-icon-home"></span>
        <span class="header-name">主页</span>
    </a>
    <div class="title" id="titleString">银行卡管理</div>
    <a href="javascript:history.go(-1);" class="back">
        <span class="header-icon header-icon-return"></span>
        <span class="header-name">返回</span>
    </a>
</div>


<div class="container width90">
    <div class="vip">
        <div class="center-top2">
            <span>姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名：<input type="text" name="realname"  value="" id="realname" style="background: none repeat scroll 0 0 #F9F9F9;padding: 8px 0px 8px 4px" placeholder="输入银行卡持有人姓名"></span>
            <span>身份证号：<input type="text" name="card_num" id="card_num"  placeholder="输入身份证号"  style="background: none repeat scroll 0 0 #F9F9F9;padding: 8px 0px 8px 4px"  ></span>
            <span>开户银行：<select name="bank_name" id="bank_name">
                            <option value="工商银行">工商银行</option>
                            <option value="建设银行">建设银行</option>
                            <option value="农业银行">农业银行</option>
                            <option value="交通银行">交通银行</option>
                            <option value="招商银行">招商银行</option>
                            <option value="大连银行">大连银行</option>
                           </select>
            </span>
            <span>卡&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;号：<input type="text" name="bank_num" id="bank_num" style="background: none repeat scroll 0 0 #F9F9F9;padding: 8px 0px 8px 4px" placeholder="输入正确的银行卡号"></span>
            <button type="button" class="btn-large green button width100" onclick="return checkForm();">保存</button>
        </div>
    </div>
</div>


<div class="footer">
     <div class="gezifooter">
         <p style="color:#bbb;">滴滴装修 &copy; 版权所有 2015</p>
     </div>
 </div>

</body>
</html>
<script type="text/javascript">
    function  checkForm(){
        var realname = $("#realname").val();
        var card_num = $("#card_num").val();
        var bank_name = $("#bank_name").val();
        var bank_num = $("#bank_num").val();

        if(realname == '') {
            alert('请输入姓名！');
            addform.realname.focus();
            return false;
        }
        if(card_num == '') {
            alert('请输入身份证号！');
            addform.card_num.focus();
            return false;
        }
        if(bank_name == '') {
            alert('请选择开户行名称！');
            addform.bank_name.focus();
            return false;
        }
        if(bank_num == '') {
            alert('请输入银行卡号！');
            addform.bank_num.focus();
            return false;
        }
        
        $.ajax({
            type: "POST",
            url: "{:U('Home/Foreman/addBank')}",
            data: {'realname': realname,'card_num': card_num,'bank_name': bank_name,'bank_num': bank_num},
            dataType : "JSON",
            success: function(jsonResult){
                if(jsonResult.status==1){
                    alert(jsonResult.info);
                    window.location.href="__APP__/Home/Foreman/index";
                }else{
                    alert(jsonResult.info);
                    location.reload();
                }
            }
        });
    }
</script>