<!DOCTYPE html>
<html>
<head>
    <include file="Public/header.inc"/>

    <script type="text/javascript" src="{$js_dir}/ajax_dialog.js"></script>
</head>
<body>

<include file="Public/banner.inc"/>
<include file="Public/nav.inc"/>


<div id="main">
    <!-- 中栏 -->
    <div id="center">
        <div id="boxOrderList" class="box disHide">
            <h2>
                订单列表
                <span>Order List</span>
            </h2>
            <hr/>
            <div class="space"></div>

            <!-- 内容开始 -->
            <div class="formGroup">
                <a href="javascript:void(0);" id="delete_btn"
                   class="button button-rounded button-tiny button-flat-caution">批量删除</a>
                <input name="keyword" id="keyword" type="text" placeholder="订单号" class="inputText widthSmall">
                <input type="button" value="搜索" id="keyword_btn"
                       class="button button-rounded button-flat-caution button-tiny">
            </div>
            <div class="space"></div>
            <div id="tableBody">
                <include file="Order/order-table.inc"/>
            </div>
            <p id="pageBody">
                {$page}
            </p>
        </div>
    </div>
</div>


<include file="Public/footer.inc"/>

<script>

    $(document).ready(function () {

        //向下滑动

        setInterval(function () {
            $("#boxModule").slideDown();
        }, 200);
        setInterval(function () {
            $("#boxOrderList").slideDown();
        }, 300);

        $('input.inputCheckBox').iCheck({
            checkboxClass: 'icheckbox_flat-red',
            radioClass: 'iradio_flat-red',
            increaseArea: '-10' // optional
        });
    });

    function BindingItemsToolTip() {
        $(".imtes_list").tooltip({
            content: function () {
                var contentId = "imtes_list_" + this.id;
                return $("#" + contentId).html();
            }
        });
    }

    $(function () {


        BindingItemsToolTip();

        $("#keyword_btn").on("click", function () {

            var keyword = $("#keyword").val();

            if (keyword == "" || keyword == null || keyword == "请输入搜索关键字") {
                keyword = '';
                jAlert("请输入搜索关键字！", "搜索提示");
                return;
            }

            if (keyword.toUpperCase() == 'ALL') {
                keyword = "";
            }

            $.post("{:U('Admin/Order/ajaxSearch')}", {'keyword': keyword}, function (data) {
                $("#tableBody").html(data.info.tabelBody);
                $("#pageBody").html(data.info.pageBody);
                BindingItemsToolTip();
            });
        });
    });

    /**
     * AJAX分页处理
     * @param url
     */
    function ajaxPage(url) {
        if (url == undefined) {
            return;
        }
        if ($.trim(url) == '') {
            return;
        }
        var urlStr = $.trim(url);
        var paraStr = "";

        $.ajax({
            type: "POST",
            url: urlStr,
            data: paraStr,
            dataType: "JSON",
            success: function (jsonResult) {
                $("#tableBody").html(jsonResult.info.tabelBody);
                $("#pageBody").html(jsonResult.info.pageBody);
                BindingItemsToolTip();
            }
        });
    }

    function BindingGoodsToolTip() {
        $(".goods_list").tooltip({
            content: function () {
                var contentId = "goods_list_" + this.id;
                return $("#" + contentId).html();
            }
        });
    }


    $('#check_all').click(function () {
        $("input[name='order_checkbox']").prop('checked', $(this).prop("checked"));
    });


    $('#delete_btn').click(function () {
        var ids = new Array();
        $("input[name='order_checkbox']:checked").each(function () {
            var id = $(this).val();
            ids.push(id);
        });

        if (ids.length < 1) {
            jAlert("请选择要删除的订单", '删除提示消息');
        } else {
            jConfirm("确认要删除,删除后无法恢复", "确认消息", function (r) {
                if (r) {
                    $.post("{:U('Admin/Order/deleteAct')}", {'ids': ids}, function (data) {
                        var status = data.status;
                        var info = data.info;
                        if (status) {
                            jAlert('删除成功', '提示信息');
                            location.reload();
                        } else {
                            jAlert(info, '提示信息');
                        }
                    });
                } else {
                }
            });
        }
    });

    function deleteOrder(id) {
        jConfirm("确认要删除,删除后无法恢复", "确认消息", function (r) {
            if (r) {
                $.post("{:U('Admin/Order/deleteAct')}", {'id': id}, function (data) {
                    var status = data.status;
                    var info = data.info;

                    console.log(data);
                    if (status) {
                        
                        location.reload();
                    } else {
                        jAlert(info, '提示信息');
                    }
                });
            } else {
            }
        })
    }

    function sortCallBack(jsonResult) {
        $("#tableBody").html(jsonResult.info.tabelBody);
        $("#pageBody").html(jsonResult.info.pageBody);
        BindingItemsToolTip();
        $.changeSortImage();
    }

    function changeStatus(id){
        jConfirm("确认要更改订单状态？", "确认消息", function (r) {
            if (r) {
                $.post("{:U('Admin/Order/changeStatus')}", {'id': id}, function (data) {
                    var status = data.status;
                    var info = data.info;
                    if (status) {
                        location.reload();
                    } else {
                        jAlert(info, '提示信息');
                    }
                });
            } else {
            }
        })

    }


</script>
</body>
</html>