<html>
<head>
<include file="Public/header.inc"/>
<style>
.edui-editor{
	z-index: 100 !important;
}
</style>
</head>
<body  >
<include file="Public/banner.inc" />
<include file="Public/nav.inc" />

<div id="main">
<!-- 中栏 -->
<div id="center"  >

<div id="boxProductAdd" class="box disHide">
<h2>订单详情<span>Order Detail</span></h2>
<hr>

<!-- Input Text -->
<div class="box">
    <h3>基本信息</h3>
    <hr>
    <!-- <div style="float:right;"><img src="__APP__/Uploads/20150617/m_55813b743fbf3.jpg" width="150" height="150"></div> -->
    <div class="formGroup">
        <label for="realname" class="labelTitle">订单号</label>
        {$order_list.order_number}
    </div>
    <div class="formGroup">
        <label for="realname" class="labelTitle">用工方（甲方）</label>
        {$order_list.userName}
    </div>
    <div class="formGroup">
        <label for="product_number" class="labelTitle">施工方（乙方）</label>
        {$order_list.worker_name}
    </div>
     <div class="formGroup">
        <label for="product_brand" class="labelTitle">订单金额</label>
        {$order_list.quote}元
    </div>
    <div class="formGroup">
        <label for="product_brand" class="labelTitle">订金金额</label>
        {$order_list.earnest}元(<if condition="$order_list['status'] gt 1 "><span style="color:#F00">已支付</span><else/>未支付</if>)
    </div>
     <div class="formGroup">
        <label for="product_place" class="labelTitle">订单备注</label>
        {$order_list.msg}
    </div>
     <div class="formGroup">
        <label for="product_price" class="labelTitle">下单时间</label>
        {$order_list.inputtime|date="y-m-d",###}
    </div>
    <div class="formGroup">
        <label class="labelTitle">订单状态</label>
        <span style="color:#F00"><if condition="$order_list['status'] eq 1">报价<elseif condition="$order_list['status'] eq 10"/>已支付定金<elseif condition="$order['status'] eq 15"/>已完工，待付尾款<elseif condition="$order_list['status'] eq 20"/>尾款已结清,待评价<elseif condition="$order['status'] eq 25"/>订单已完成<elseif condition="$order_list['status'] eq 30"/>申请撤单<elseif condition="$order_list['status'] eq 35"/>撤单成功<else/>已下单</if></span>
    </div>
    <hr>
     <h3>需求信息</h3>
    <hr>
    <div class="formGroup">
        <label class="labelTitle">所在小区</label>
        {$order_list.order_detail.community_name}
    </div>
    <div class="formGroup">
        <label for="product_merchant" class="labelTitle">联系人</label>
       {$order_list.order_detail.userName}
    </div>
    <div class="formGroup">
        <label for="address" class="labelTitle">电话</label>
       {$order_list.order_detail.mobile}
    </div>
    <div class="formGroup">
        <label for="product_mobile" class="labelTitle">需求说明</label>
        <p> {$order_listorder_detail.msg}</p>
    </div> 

    
     
</div>

<hr>
<!-- Input Buttons -->
<div class="formGroup">
    <a href="javascript:void(0)" id="backLink" class="button button-rounded button-tiny button-flat">返回</a>
</div>

</div>
</div>

</div>

<script type="text/javascript" src="{$js_dir}/jquery.jpage.js"></script>

<script>

var x = jQuery("#center").position().left + jQuery("#center").outerWidth();

$(document).ready(function(){

    setInterval(function(){
        $("#boxProductAdd").slideDown();
    },300);

    $('input.inputCheckBox').iCheck({
        checkboxClass: 'icheckbox_flat-red',
        radioClass: 'iradio_flat-red',
        increaseArea: '-10' // optional
    });


    $("#backLink").click(function(event) {
        event.preventDefault();
        history.back(1);
    });

});




</script>
</body>
</html>